body {
    margin: 0;
    background-color: rgb(48, 48, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(24, 24, 24);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Header*/

.titulo {
    display: flex;
    justify-content: center;
}
.titulo img{
    width: 20vw;
}



/*Main*/

/*Juegos pc*/

/*dark light*/

.darkLight{
    display: flex;
    justify-content: end;
    margin: 10px 20px;
}
.darkLight button{
    margin: 0;
    padding: 5px;
    background-color: rgb(78, 255, 255);
    box-shadow: 0px 3px 5px black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 3.5vw;
    font-weight: 700;
}
.darkLight button:hover {
    background-color: rgb(233, 233, 233);
}



.entrada {
    width: 60%;
    margin: 20px auto;
}

.entrada h1,h2{
    margin: 0;
}
.entrada h1{
    background-image: linear-gradient(white, aqua);
    text-align: center;
    font-size: 5vw;
    box-shadow: 0px 5px 20px rgb(15, 15, 15);
}
.entrada h2{
    font-size: 3.5vw;
    margin-top: 15px;
    text-align: center;
    color: rgb(160, 247, 247);
}
.textoBienvenida {
    width: 65%;
    margin: 20px auto;
    text-align: center;

}
.textoBienvenida p{
    margin: 0;
    color: rgb(230, 230, 230);
    font-size: 3vw;
}



.tituloPc {
    background-color: rgb(24, 24, 24);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.tituloPc h3{
    color: rgb(4, 214, 214);
}

.tituloPs {
    background-color: rgb(24, 24, 24);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.tituloPs h3{
    color: rgb(4, 214, 214);
}
#losJuegosPc {
    width: 75%;
    height: 15vh;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    gap: 11.3px;
}
#losJuegosPs {
    width: 75%;
    height: 15vh;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    gap: 11.3px;
}

.juegos {
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: rgb(78, 78, 78);
    box-shadow: 0px 2px 15px  black;
}
.juegos:hover {
    box-shadow: 0px 2px 35px  black;
    transition: .4s;
    background-color: rgb(110, 109, 109);
}
.juegos img{
    width: 100%;
    height: 5vh;
}
.juegos_texto{
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.juegos_texto p{
    margin: 0 auto;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.juegos_texto a{
    text-decoration: none;
    width: 65%;
    color: rgb(240, 240, 240);
    font-size: 2vw;
    padding: 2px;
    margin-bottom: 10px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}
.juegos_texto a:hover {
    background-color: aqua;
    color: black;
    transition: .4s;
}
.juegos_texto h3 {
    margin: 0 auto;
    font-size: 2.5vw;
    color: aqua;
}

/*Table carrito*/

.carrito{
    height: 8vw;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
}
.carrito h2{
    color: rgb(4, 214, 214);
    font-size: 3.5vw;
}

.table {
    width: 60%;
    margin: 25px auto;
    background-color: rgb(88, 88, 88);
}
table {
    width: 100%;
    margin: auto;
}
th {
    background-color: rgb(24, 24, 24);
    font-size: 2vw;
    height: 4.5vw;
    color: rgb(4, 214, 214);
}
td {
    font-size: 1.9vw;
    color: white;
    font-weight: bold;
    color: black;
}
td:nth-child(1){
    background-color: rgb(77, 77, 77);
}
td:nth-child(2){
    background-color: rgb(66, 66, 66);
    color: rgb(253, 253, 139);
}
td:nth-child(3){
    background-color: rgb(43, 43, 43);
    color: red;
}
td:nth-child(4){
    background-color: rgb(32, 32, 32);
}
td:nth-child(1):hover{
    background-color: rgb(66, 66, 66);
}
td:nth-child(2):hover{
    background-color: rgb(43, 43, 43);
}
td:nth-child(3):hover{
    background-color: rgb(32, 32, 32);
}
td:nth-child(4):hover{
    background-color: rgb(25, 25, 25);
}

#tableBodyDev td{
    color: white;
}


tbody{
    text-align: center;
}
.total{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalCompra {
    height: 5vw;
    padding: 3px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vaciar-todo {
    height: 5vw;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vaciar-todo a{
    text-decoration: none;
    color: rgb(4, 214, 214);
    background-color: rgb(24, 24, 24);
    padding: 8px;
    font-size: 2.2vw;
    font-weight: bolder;
    cursor: pointer;
}
.vaciar-todo a:hover{
    color: black;
    background-color: rgb(4, 214, 214);
    transition: .5s;
}
.totalCompra h3{
    color: rgb(4, 214, 214);
    font-size: 2vw;
}
.spanTotal {
    color: rgb(255, 255, 255);
}

.spanTotal2{
    color: rgb(230, 230, 230);
}
.juegosComprados {
    color: rgb(230, 230, 230);
}
.total button{
    background-color: rgb(24, 24, 24);
    color: rgb(4, 214, 214);
    border: none;
    font-weight: bold;
    padding: 8px;
    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.total button:hover{
    color: black;
    background-color: rgb(4, 214, 214);
    font-weight: bold;
    transition: .5s;
}
.devolucion {
    width: 60%;
    margin: 50px auto 30px;
    text-align: center;
}
#parrafoDevolucion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(4, 214, 214);
    font-size: 2.5vw;
    margin: 0;
}

.parrafoTableDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 20px;
}
.parrafoTable{
    color: white;
    margin: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.tablaPrecio,
.tablaNombre{
    color: rgb(235, 235, 235);
}


.tableDevolucion {
    width: 50%;
    margin: 10px auto;
}
.total-final {
    width: 40%;
    margin: 2px auto 10px;
    text-align: center;
}
.total-final p{
    color: rgb(4, 214, 214);
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 3vw;
}
.spanTotalFinal {
    color: white;
    font-weight: bolder;
}

/*logo eliminar basura*/

td:nth-child(5){
    width: 15px;
    background-color: rgb(25, 25, 25);
}
.eliminarCarrito {
    width: 15px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    border: none;
}
.eliminarCarritoImg{
    width: 13px;
    cursor: pointer;
}




/*Footer*/
/* ... */

footer {
    background-color: rgb(24, 24, 24);
}
.algo {
    height: 7vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.algo img{
    width: 4.5vw;
}

/* .algo h5{
    margin: 0;
    color: rgb(48, 48, 48);
} */




/*L  I  G  H  T     M  O  D  E*/

.lightMode {
    background-color: rgb(220, 220, 220);
}

.lightMode header {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
}

.lightMode .entrada h1{
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
    color: aqua;
}
.lightMode .entrada h2{
    color: black;
    font-weight: bolder;
}
.lightMode .textoBienvenida p{
    
    color: black;
    font-weight: 700;
    
}


.lightMode .tituloPc {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
    
}
.lightMode .tituloPc h3{
    color: aqua;
}

.lightMode .tituloPs {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
    
}
.lightMode .tituloPs h3{
    color: aqua;
}

/*TARGETAS*/

.lightMode .juegos {
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 2px 10px  black;
}
.lightMode .juegos:hover {
    box-shadow: 0px 2px 20px  black;
    background-color: rgb(255, 255, 255);
}

.lightMode .juegos_texto p{
    color: black;
    font-weight: 700;
}

.lightMode .juegos_texto a{
    background-color: rgb(71, 71, 71);
    color: aqua;
}
.lightMode .juegos_texto a:hover {
    background-color: rgb(2, 233, 233);
    color: black;
}
.lightMode .juegos_texto h3 {
    color: black;
}



/*CARRITO*/

.lightMode .carrito{
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
}
.lightMode .carrito h2{
    color: aqua;
    
}

.lightMode .table {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
}

.lightMode th {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
    color: aqua;
}


.lightMode .totalCompra {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));

}

.lightMode .totalCompra h3{
    color: aqua;
    
}


.lightMode .total-final p{
    color: black;
}
.lightMode .spanTotalFinal {
    color: rgb(235, 2, 2);
}


.lightMode .juegosComprados {
    color: rgb(194, 3, 3);
}
.lightMode .total button{
    background-color: rgb(71, 71, 71);
    color: aqua;
}
.lightMode .total button:hover{
    background-color: rgb(2, 233, 233);
    font-weight: bolder;
    color: black;
    border: 1px black;
    box-shadow: 0px 2px 5px  black;
}

.lightMode .vaciar-todo a{
    background-color: rgb(71, 71, 71);
    color: aqua;
}
.lightMode .vaciar-todo a:hover{
    color: black;
    background-color: rgb(2, 233, 233);
    box-shadow: 0px 2px 5px  black;
}


.lightMode #parrafoDevolucion{
    color: black;
}
.lightMode .spanTotal2{
    color: red;
}
.lightMode footer {
    background-image: linear-gradient(rgb(49, 49, 49), rgb(131, 131, 131));
}
.lightMode .algo h5{
    color: rgb(220, 220, 220);
}



.lightMode .darkLight button{
    background-color: rgb(110, 109, 109);
    color: aqua;
}
.lightMode .darkLight button:hover {
    background-color: rgb(68, 68, 68);
}


/*Media Querie*/

@media (min-width: 720px) {
    

    /*Header*/
    .titulo img{
        width: 9vw;
    }

    /*Main*/

    .darkLight{
        display: flex;
        justify-content: end;
        margin: 10px 20px;
    }
    .darkLight button{
        border-radius: 15px;
        padding: 10px;
        font-size: 1.2vw;
    }
    


    .entrada {
        width: 40%;
        text-align: center;
    }
    .entrada h1{
        font-size: 3vw;
    }
    .entrada h2{
        font-size: 2vw;
    }
    .textoBienvenida p{
        font-size: 1.5vw;
    }
        
    .tituloPc {
        margin: 75px auto;
        width: 50%;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .tituloPc h3{
        margin: 0;
        font-size: 1.5vw;
    }
    .tituloPs {
        margin: 75px auto;
        width: 50%;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .tituloPs h3{
        margin: 0;
        font-size: 1.5vw;
    }
    
    #losJuegosPc {
        height: 30vh;
        margin: 50px auto;
    }
    #losJuegosPs {
        height: 30vh;
        margin: 50px auto;
    }
    .juegos {
        width: 12vw;
        height: 30vh;
    }
    .juegos img{
        height: 15vh;
    }
    .juegos_texto{
        height: 16vh;
        align-items: center;
    }
    .juegos_texto p{
        font-size: 25px;
    }
    .juegos_texto a{
        width: 65%;
        font-size: 1.4vw;
        margin-bottom: 25px;
    }
    .juegos_texto h3 {
        font-size: 1.8vw;
        color: aqua;
    }

    /*Carrito table*/

    .carrito{
        height: 3vw;
        width: 25%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(24, 24, 24);
    }
    .carrito h2{
        color: rgb(4, 214, 214);
        font-size: 1.5vw;
    }
    
    .table {
        width: 60%;
        margin: 25px auto;
        background-color: rgb(88, 88, 88);
    }
    table {
        width: 100%;
        margin: auto;
    }
    th {
        background-color: rgb(24, 24, 24);
        font-size: 20px;
        height: 3vw;
        color: rgb(4, 214, 214);
    }
    td {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    tbody{
        text-align: center;
    }
    .totalCompra {
        height: 4vw;
        padding: 10px;
        background-color: rgb(24, 24, 24);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .totalCompra h3{
        color: rgb(4, 214, 214);
        font-size: 1.2vw;
    }


    .total{
        width: 60%;
    }
    .vaciar-todo {
        height: 4.5vw;
        padding: 3px;
    }
    .vaciar-todo a{
        padding: 7px;
        font-size: 1.2vw;
    }




    .total button{
        font-size: 1.2vw;
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #parrafoDevolucion{
        font-size: 1.5vw;
        
    }


    .tableDevolucion {
        width: 40%;
    }
    .total-final {
        width: 30%;
        margin: 2px auto 10px;
        text-align: center;
    }
    .total-final p{
        color: rgb(4, 214, 214);
        font-weight: bold;
        margin: 50px 0 10px 0;
        font-size: 2vw;
    }
    .spanTotalFinal {
        color: white;
        font-weight: bolder;
    }




    td:nth-child(4){
        width: 35px;
    }
    .eliminarCarrito {
        width: 35px;
    }
    .eliminarCarritoImg{
        width: 30px;
    }

    /*footer*/

    .algo {
        height: 12vh;
        width: 30%;
        justify-content: space-around;
    }
    .algo img{
        width: 2vw;
    }
    }